*{
    margin: 0px;
}
body{
    background-color: rgb(142, 240, 240);
    /* font-family: 'Shojumaru', cursive; */
}
.main_login{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
    height: 100vh;
}
.login_border{
    /* border: 2px solid; */
    padding: 50px;
    background: linear-gradient(#071952, #088395);
}
#login_from{
    padding: 40px;
    border-radius: 15px;
    background-color: white;
}
.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}
label{
    font-size: 18px;
    font-weight: bold;
}
input[type="text"]{
    height: 25px;
    width: 240px;
    margin-top: 5px;
    /* position: relative; */
}

input[type="submit"] {
    background-color: #2b619e;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    font-size: 20px;
}

span{
    color: red;
}
#float_text
{
    float: right;
}







